<html>
<head>
    <a th:href="@{/operator/accountOperator}">Вернуться в личный кабинет</a>
    <h1>Готовые заказы на пункте выдачи</h1>
    <title>Готовые заказы на пункте выдачи</title>
</head>
<body>


<div>Ваш пункт выдачи: <span th:text="${userOrderDTOList[0].getOrderPoint()}"></span>
</div>
<br>
<div>
</div>
<th:block th:each="userOrderDTO : ${userOrderDTOList}">
   <a th:href="@{/operator/showOrder(id=${userOrderDTO.getOrderId()})}">Номер заказа: <span th:text="${userOrderDTO.getOrderId()}"/></a>


    <br>
    <table border="2">
        <tr>
            <th>Название товара</th>
            <th>Цена товара</th>
            <th>Количество товара</th>
        </tr>
        <tr th:each="userOrderDTOProduct : ${userOrderDTO.getUserOrderProducts()}">
            <td th:text="${userOrderDTOProduct.getProductDTO().getProductName()}">
            </td>
            <td th:text="${#numbers.formatDecimal(userOrderDTOProduct.productDTO.price, 1, 'DEFAULT', 2, 'DEFAULT')}">
            </td>
            <td th:text="${userOrderDTOProduct.getProductCount()}">
            </td>
        </tr>
    </table>
    <div>
    </div>
</th:block>
</body>
</html>
