<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{/client/accountClient}">Вернуться в личный кабинет</a>
    <h1>Мои Заказы</h1>
    <title>Мои Заказы</title>
    <br>
    <br>
</head>
<body>
<th:block th:each="userOrderDTO: ${userOrderDTOList}">

    <div>Номер заказа:<span th:text="${userOrderDTO.orderId}"></span>
    </div>
    <br>
    <div>Статус заказа:<span th:text="${userOrderDTO.orderStatus.description}"></span>
    </div>
    <br>
    <div>Пункт выдачи: <span th:text="${userOrderDTO.orderPoint}"></span>
    </div>
    <br>
    <div>Сумма заказа: <span
            th:text="${#numbers.formatDecimal(userOrderDTO.orderSum, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
    </div>
    <br>
    <div>Дата создания: <span th:text="${userOrderDTO.orderCreateDateTime}"></span>
    </div>
    <br>

    <table>
        <thead>
        <tr>
            <th>Название товара</th>
            <th>Цена товара на момент заказа</th>
            <th>Количество</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="orderDTO : ${userOrderDTO.userOrderProducts}">

            <td><span th:text="${orderDTO.productDTO.productName}"></span>
            </td>

            <td>
                <span th:text="${#numbers.formatDecimal(orderDTO.productPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
            </td>

            <td>
                <span th:text="${orderDTO.productCount}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <br>

</th:block>

</body>
</html>
