<style>

    table {
        width: 40%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <title>Страница заказа</title>
</head>

<a th:href="@{/operator/accountOperator}">Вернуться в личный кабинет</a>
<h1>Страница заказа</h1>

<a th:href="@{/operator/readyOrders}">Назад</a>
<br>
<br>
<body>
Номер заказа: <span th:text="${userOrderDTO.getOrderId()}"></span>
<br>
Статус заказа: <span th:text="${userOrderDTO.getOrderStatus().getDescription()}"></span>
<br>
Текущая сумма заказа:
<span th:text="${#numbers.formatDecimal(userOrderProductSum, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>

<br>
<table border="2">
    <tr>
        <th width="100">Номер товара</th>
        <th width="100">Название товара</th>
        <th width="100">Цена товара</th>
        <th width="60">Заказано товара</th>
        <th width="60">Изменить количество товара</th>
    </tr>
    <tr height="30" th:each="productDTO:${userOrderDTO.getUserOrderProducts()}">
        <td><span th:text="${productDTO.getProductDTO().getId()}"></span>
        </td>
        <td><span th:text="${productDTO.getProductDTO().getProductName()}"></span>
        </td>
        <td>
            <span th:text="${#numbers.formatDecimal(productDTO.productDTO.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
        </td>
        <td>
            <span th:text="${productDTO.getProductCount()}"></span>
        </td>
        <td>
            <form method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf}"/>
                <input type="submit" th:formaction="@{/operator/addProductToOrder}" value="+">
                <input type="hidden" name="userOrderId" th:value="${productDTO.getUserOrderId()}">
                <input type="hidden" name="productId" th:value="${productDTO.getProductDTO().getId()}">
                <input type="hidden" name="count" value="1">
                <input type="hidden" name="id" th:value="${userOrderDTO.getOrderId()}">
                <span th:text="${productDTO.getActualProductCount()}"></span>
                <input type="submit" th:formaction="@{/operator/deleteProductFromOrder}" value="-">
            </form>
        </td>
    </tr>
</table>
<br>
<form method="post">
    <input th:formaction="@{/operator/refuseOrder(userOrderId=${userOrderDTO.getOrderId()})}" type="submit"
           value="Отказ"/>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input th:formaction="@{/operator/closeOrder(userOrderId=${userOrderDTO.getOrderId()})}" type="submit"
           value="Закрыть заказ"/>
</form>

</body>
</html>
