<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
    <title>Редактировать каталог</title>
    <h1>Редактировать каталог товаров</h1>
</head>
<body>
<a th:href="@{|${adminPath}addProduct|}">Добавить товар</a>

<table>
    <thead>
    <tr>
        <th>Номер товара</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Продавец</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="productDTO:${productDTOList.content()}">
        <td th:text="${productDTO.getId()}">
        </td>
        <td><a th:href="@{|${adminPath}productPage/${productDTO.id}|}"
               th:text="${productDTO.getProductName()}"></a>
        </td>
        <td th:text="${productDTO.getProductCategory().getCategory()}">
        </td>
        <td th:text="${productDTO.getPrice()}">
        </td>
        <td th:text="${productDTO.getSeller().getSellerName()}">
        </td>
        <td>
            <form method="get" th:action="@{|${adminPath}editProduct/${productDTO.id}|}">
                <input type="submit" value="Редактировать"/>
            </form>
            <form method="post" th:action="@{|${adminPath}deleteProduct/${productDTO.id}|}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{|${adminPath}editCatalog|(page=1)}">В начало</a>

<span style="font-size: 20px"
      th:if="${productDTOList.currentPage > 1}"
      th:each="i : ${#numbers.sequence((productDTOList.currentPage - 3 > 1 ? productDTOList.currentPage - 3 : 1), productDTOList.currentPage - 1)}">
    <a th:href="@{|${adminPath}editCatalog|(page=${i})}" th:text="${i}"></a>
</span>

<span style="font-size: 24px" th:text="${productDTOList.currentPage}"></span>

<span style="font-size: 20px"
      th:if="${productDTOList.currentPage < productDTOList.totalPages}"
      th:each="i : ${#numbers.sequence(productDTOList.currentPage + 1, (productDTOList.currentPage + 3 < productDTOList.totalPages ? productDTOList.currentPage + 3 : productDTOList.totalPages))}">
    <a th:href="@{|${adminPath}editCatalog|(page=${i})}" th:text="${i}"></a>
</span>
<a th:href="@{|${adminPath}editCatalog|(page=${productDTOList.totalPages})}">В конец</a>

</body>
</html>
