<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактировать продукт</title>
</head>
<body>

<a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
<h1>Редактировать продукт</h1>
<a th:href="@{|${adminPath}productsList|(page=${page}, pageSize=${pageSize})}">Назад</a>

<form th:action="@{|${adminPath}updateProduct|(page=${page}, pageSize=${pageSize})}"
      method="post">

    <div>
        Номер продукта:
        <input type="hidden" name="id" th:value="${productDTO.getId()}"/>
        <span th:text="${productDTO.getId()}"></span>
    </div>

    <div>
        Название продукта:
        <input type="text" name="productName" th:value="${productDTO.getProductName()}"/>
    </div>

    <div>
        Категория продукта:
        <select name="productCategory">
            <option th:each="productCategoryDTO : ${productCategoryDTOList}"
                    th:value="${productCategoryDTO.id}"
                    th:text="${productCategoryDTO.category}">
            </option>
            <option th:value="${productDTO.productCategory}"
                    th:text="${productDTO.productCategory.category}" selected></option>
        </select>
    </div>

    <div>
        Цена:
        <input type="text" name="price" th:value="${productDTO.price}"/>
    </div>

    <div>
        Продавец:
        <select name="seller">
            <option th:each="sellerDTO : ${sellerDTOList}"
                    th:value="${sellerDTO.id}"
                    th:text="${sellerDTO.sellerName}">
            </option>
            <option th:value="${productDTO.seller.id}" th:text="${productDTO.seller.sellerName}" selected></option>
        </select>
    </div>

    <input type="submit" value="Подтвердить">
</form>

</body>
</html>
