<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Редактировать продукт</title>
</head>
<body>

<a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
<h1>Редактировать продукт</h1>
<a th:href="@{|${adminPath}productsList|}">Назад</a>

<form th:action="@{|${adminPath}updateProduct|}" th:object="${productDTO}" method="post">

    <div>
        Номер продукта:
        <input type="hidden" th:field="*{id}"/>
        <span th:text="*{id}"></span>
    </div>

    <div>
        Название продукта:
        <input type="text" th:field="*{productName}"/>
    </div>

    <div>
        Категория продукта:
        <select th:field="*{productCategory.id}">
            <option th:each="productCategoryDTO : ${productCategoryDTOList}"
                    th:value="${productCategoryDTO.id}"
                    th:text="${productCategoryDTO.category}">
            </option>
        </select>
    </div>

    <div>
        Цена:
        <input type="text" th:field="*{price}"/>
    </div>

    <div>
        Продавец:
        <select th:field="*{seller.id}">
            <option th:each="sellerDTO : ${sellerDTOList}"
                    th:value="${sellerDTO.id}"
                    th:text="${sellerDTO.sellerName}">
            </option>
        </select>
    </div>

    <input type="submit" value="Подтвердить">
</form>

</body>
</html>
