<style>

    table {
        width: max-content;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
    <title>Редактировать каталог товаров</title>
    <h1>Редактировать каталог товаров</h1>
</head>
<body>
<a th:href="@{|${adminPath}addProduct|(page=${page}, pageSize=${pageSize})}">Добавить товар</a>
<br>
<br>
<th:block th:if="${successMessage}">
    <span style="color: #069e29" th:text="${successMessage}"></span>
    <br>
    <br>
</th:block>
<table>
    <thead>
    <tr>
        <th>Номер товара</th>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Продавец</th>
        <th>Статус</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="productDTO:${productDTOList.content()}">
        <td th:text="${productDTO.getId()}">
        </td>
        <td><a th:href="@{|${adminPath}productPage/${productDTO.id}|(page=${page}, pageSize=${pageSize})}"
               th:text="${productDTO.getProductName()}"></a>
        </td>
        <td th:text="${productDTO.getProductCategory().getCategory()}">
        </td>
        <td th:text="${#numbers.formatDecimal(productDTO.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>

        </td>
        <td th:text="${productDTO.getSeller().getSellerName()}">
        </td>
        <td th:text="${productDTO.getStatus().getDescription()}">
        </td>
        <td>
            <form method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <th:block th:if="${productDTO.getStatus().name()=='ACTIVE'}">
                    <input th:formmethod="get" th:formaction="@{|${adminPath}editProduct/${productDTO.id}|(page=${page}, pageSize=${pageSize})}"
                           type="submit"
                           value="Редактировать"/>
                    <input th:formaction="@{|${adminPath}deleteProduct/${productDTO.id}|(page=${page}, pageSize=${pageSize})}"
                           type="submit"
                           value="Удалить"/>
                </th:block>
                <th:block th:unless="${productDTO.getStatus().name()=='ACTIVE'}">
                    <input th:formaction="@{|${adminPath}recoverProduct/${productDTO.id}|(page=${page}, pageSize=${pageSize})}"
                           type="submit"
                           value="Восстановить"/>
                </th:block>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{|${adminPath}productsList|(page=1, pageSize=${pageSize})}">В начало</a>

<span style="font-size: 20px"
      th:if="${productDTOList.currentPage > 1}"
      th:each="i : ${#numbers.sequence((productDTOList.currentPage - 3 > 1 ? productDTOList.currentPage - 3 : 1), productDTOList.currentPage - 1)}">
    <a th:href="@{|${adminPath}productsList|(page=${i}, pageSize=${pageSize})}" th:text="${i}"></a>
</span>

<span style="font-size: 24px" th:text="${productDTOList.currentPage}"></span>

<span style="font-size: 20px"
      th:if="${productDTOList.currentPage < productDTOList.totalPages}"
      th:each="i : ${#numbers.sequence(productDTOList.currentPage + 1, (productDTOList.currentPage + 3 < productDTOList.totalPages ? productDTOList.currentPage + 3 : productDTOList.totalPages))}">
    <a th:href="@{|${adminPath}productsList|(page=${i}, pageSize=${pageSize})}" th:text="${i}"></a>
</span>
<a th:href="@{|${adminPath}productsList|(page=${productDTOList.totalPages}, pageSize=${pageSize})}">В конец</a>


<form th:action="@{/administrator/productsList}">
    <select name="pageSize">
        <option th:each="pageSizelist : ${pageSizeList}"
                th:text="${pageSizelist}"
                th:value="${pageSizelist}"
                th:selected="${pageSizelist == pageSize}"></option>
    </select>
    <input type="submit" value="Подтвердить">
    <input type="hidden" name="page" value="1"/>
</form>

</body>
</html>
