<html>
<head>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .grid-layout {
            display: grid;
            grid-template-columns: 120px 300px;
            gap: 15px;
            align-items: center;
        }
    </style>
    <title>Страница товара</title>
    <a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
    <h1>Страница товара</h1>
    <a th:href="@{|${adminPath}productsList|(page=${page}, pageSize=${pageSize})}">Назад</a>

</head>
<body>
<table>
    <thead>
    <tr>
        <th>Название товара:</th>
        <th>Категория:</th>
        <th>Цена:</th>
        <th>Продавец:</th>
        <th>Дата обновления:</th>
    </tr>
    </thead>
    <td>
        <div>
            <a th:text="${productDTO.getProductName()}"></a>
        </div>
    </td>
    <td>
        <div>
            <a th:text="${productDTO.getProductCategory().getCategory()}"></a>
        </div>
    </td>
    <td>
        <div>
            <a th:text="${#numbers.formatDecimal(productDTO.price, 1, 'DEFAULT', 2, 'DEFAULT')}"></a>

        </div>
    </td>
    <td>
        <div>
            <a th:text="${productDTO.getSeller().getSellerName()}"></a>

        </div>
    </td>
    <td>
        <div>
            <a th:text="${productDTO.getUpdateDateTime()}"></a>
        </div>
    </td>
</table>
</body>
</html>
