<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{/accountAdministrator}">Вернуться в личный кабинет<a>
    <title>Редактировать категории товаров</title>
    <h1>Категории</h1>
</head>
<body>
<form action="<%=request.getContextPath() + ADD_PRODUCT_CATEGORY_PAGE%>" method="post">
    <input type="submit" value="Добавить категорию">
</form>
<table>
    <thead>
    <tr>
        <th>Номер категории товара</th>
        <th>Категория</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productCategoryDTO:${productCategoriesList}">
        <td th:text="${productCategoryDTO.getId()}">
        </td>

        <td th:text="${productCategoryDTO.getCategory()}">>
        </td>

        <td>
            <form method="post">
                <input type="submit" value="Редактировать"
                       formaction="<%=request.getContextPath() + EDIT_PRODUCT_CATEGORY%>">
            </form>
            <form method="post" th:action="@{/deleteProductCategory/{id}(id=${productCategoryDTO.id})}">
                <input type="submit" value="удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>


<a th:if="${productDTOList.getNumber()>0}" th:href="@{/editCatalog(page=${productDTOList.getNumber()-1})}">Назад</a>

<span th:if="${productDTOList.getNumber()>0}"
      th:each="i : ${#numbers.sequence((productDTOList.getNumber()-3>0?productDTOList.getNumber()-3:0),productDTOList.getNumber()-1)}">
    <a th:href="@{/editCatalog(page=${i})}"
       th:text="${i}"></a>
    </span>
<span th:text="${productDTOList.getNumber()}"></span>


<span th:if="${productDTOList.getNumber()<productDTOList.getTotalPages()-1}"
      th:each="i : ${#numbers.sequence(productDTOList.getNumber()+1,(productDTOList.getNumber()+3<productDTOList.getTotalPages()-1?productDTOList.getNumber()+3:productDTOList.getTotalPages()-1))}">
    <a th:href="@{/editCatalog(page=${i})}"
       th:text="${i}"></a>
    </span>

<a th:if="${productDTOList.getNumber()<productDTOList.getTotalPages()-1}" th:href="@{/editCatalog(page=${productDTOList.getNumber()+1})}">Вперёд</a>


</body>
</html>
