<html>
<head>
    <title>Редактировать категорию</title>
</head>
<a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
<title>Редактировать категорию</title>
<h1>Редактировать категорию</h1>

<a th:href="@{|${adminPath}productCategoriesList|}">Назад</a>
<body>
<form th:object="${productCategoryDTO}" th:action="@{|${adminPath}updateProductCategory|}" method="post">
    <div>
        Номер категории:
        <label>
            <input type="hidden" th:field="*{id}"/>
            <span th:text="*{id}"></span>
        </label>
    </div>
    <div>
        Название категории:
        <label>
            <input type="text" th:field="*{category}"/>
        </label>
    </div>
    <input type="submit" value="Подтвердить"/>
</form>
</body>
</html>
