<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
    <title>Редактировать категории товаров</title>
    <h1>Категории</h1>
</head>
<body>
<a th:href="@{|${adminPath}addProductCategory}">
    Добавить категорию
</a>
<table>
    <thead>
    <tr>
        <th>Номер категории товара</th>
        <th>Категория</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productCategoryDTO:${productCategoriesList.content()}">
        <td th:text="${productCategoryDTO.getId()}">
        </td>

        <td th:text="${productCategoryDTO.getCategory()}">
        </td>

        <td>
            <form th:action="@{/editProductCategory/{id}(id=${productCategoryDTO.id})}">
                <input type="submit" value="редактировать">
            </form>
            <form method="post" th:action="@{/deleteProductCategory/{id}(id=${productCategoryDTO.id})}">
                <input type="submit" value="удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>


<a th:href="@{|${adminPath}editCategories|(page=1)}">В начало</a>

<!-- Левая часть: вывод предыдущих 3-х страниц (если мы не на 1-й странице) -->
<span style="font-size: 20px"
      th:if="${productDTOCategoriesList.currentPage > 1}"
      th:each="i : ${#numbers.sequence((productDTOCategoriesList.currentPage - 3 > 1 ? productDTOCategoriesList.currentPage - 3 : 1), productDTOCategoriesList.currentPage - 1)}">
    <a th:href="@{|${adminPath}editCategories|(page=${i})}" th:text="${i}"></a>
</span>

<!-- Текущая страница (выводится крупным шрифтом) -->
<span style="font-size: 24px" th:text="${productDTOCategoriesList.currentPage}"></span>

<!-- Правая часть: вывод следующих 3-х страниц (если мы не на последней) -->
<span style="font-size: 20px"
      th:if="${productDTOCategoriesList.currentPage < productDTOCategoriesList.totalPages}"
      th:each="i : ${#numbers.sequence(productDTOCategoriesList.currentPage + 1, (productDTOCategoriesList.currentPage + 3 < productDTOCategoriesList.totalPages ? productDTOCategoriesList.currentPage + 3 : productDTOCategoriesList.totalPages))}">
    <a th:href="@{|${adminPath}editCategories|(page=${i})}" th:text="${i}">productDTOCategoriesList
</span>
<a th:href="@{|${adminPath}editCategories|(page=${productDTOCategoriesList.totalPages})}">В конец</a>


</body>
</html>
