<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{/accountAdministrator}">Вернуться в личный кабинет<a>
        <title>Редактировать продавцов</title>
        <h1>Редактировать продавцов</h1>

</head>
<body>
<form action="<%=request.getContextPath() + ADD_SELLER_PAGE%>" method="post">
    <input type="submit" value="Добавить продавца">
</form>
<table>
    <thead>
    <tr>
        <th>Номер продавца</th>
        <th>Название продавца</th>
        <th>Адрес</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sellerDTO:${sellerDTOList}">
        <td th:text="${sellerDTO.getId()}">
        </td>
        <td th:text="${sellerDTO.getSellerName()}">
        </td>
        <td th:text="${sellerDTO.getSellerAddress()}">
        </td>
        <td>
            <form method="post">
                <input type="submit" value="Редактировать"
                       formaction="<%=request.getContextPath() + EDIT_PRODUCT_CATEGORY%>">
            </form>
            <form method="post" th:action="@{/deleteSeller/{id}(id=${sellerDTO.id})}">
                <input type="submit" value="удалить">
            </form>
        </td>
    </tr>
    </tbody>
</table>



<a th:if="${sellerDTOList.getNumber()>0}" th:href="@{/editSellers(page=${sellerDTOList.getNumber()-1})}">Назад</a>

<span th:if="${sellerDTOList.getNumber()>0}"
      th:each="i : ${#numbers.sequence((sellerDTOList.getNumber()-3>0?sellerDTOList.getNumber()-3:0),sellerDTOList.getNumber()-1)}">
    <a th:href="@{/editSellers(page=${i})}"
       th:text="${i}"></a>
    </span>
<span th:text="${sellerDTOList.getNumber()}"></span>


<span th:if="${sellerDTOList.getNumber()<sellerDTOList.getTotalPages()-1}"
      th:each="i : ${#numbers.sequence(sellerDTOList.getNumber()+1,(sellerDTOList.getNumber()+3<sellerDTOList.getTotalPages()-1?sellerDTOList.getNumber()+3:sellerDTOList.getTotalPages()-1))}">
    <a th:href="@{/editSellers(page=${i})}"
       th:text="${i}"></a>
    </span>

<a th:if="${sellerDTOList.getNumber()<sellerDTOList.getTotalPages()-1}" th:href="@{/editSellers(page=${sellerDTOList.getNumber()+1})}">Вперёд</a>


</body>
</html>
