<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{|${adminPath}accountAdministrator|}">Вернуться в личный кабинет</a>
    <title>Редактировать продавцов</title>
    <h1>Редактировать продавцов</h1>

</head>
<body>
<a th:href="@{|${adminPath}/addSeller|}">Добавить продавца</a>
</form>
<table>
    <thead>
    <tr>
        <th>Номер продавца</th>
        <th>Название продавца</th>
        <th>Адрес</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sellerDTO:${sellerDTOList.content()}">
        <td th:text="${sellerDTO.getId()}">
        </td>
        <td th:text="${sellerDTO.getSellerName()}">
        </td>
        <td th:text="${sellerDTO.getSellerAddress()}">
        </td>
        <td>
            <form method="post">
                <input type="submit" value="Редактировать"
                       formaction="">
            </form>
       <!--     <form method="post" th:action="@{|${adminPath}deleteSeller/{id}|(id=${sellerDTO.id})}">
                <input type="submit" value="удалить">
            </form>-->
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{|${adminPath}editSellers|(page=1)}">В начало</a>
<span style="font-size: 20px"
      th:if="${sellerDTOList.currentPage > 1}"
      th:each="i : ${#numbers.sequence((sellerDTOList.currentPage - 3 > 1 ? sellerDTOList.currentPage - 3 : 1), sellerDTOList.currentPage - 1)}">
    <a th:href="@{|${adminPath}editSellers|(page=${i})}" th:text="${i}"></a>
</span>
<span style="font-size: 24px" th:text="${sellerDTOList.currentPage}"></span>
<span style="font-size: 20px"
      th:if="${sellerDTOList.currentPage < sellerDTOList.totalPages}"
      th:each="i : ${#numbers.sequence(sellerDTOList.currentPage + 1, (sellerDTOList.currentPage + 3 < sellerDTOList.totalPages ? sellerDTOList.currentPage + 3 : sellerDTOList.totalPages))}">
    <a th:href="@{|${adminPath}editSellers|(page=${i})}" th:text="${i}"></a>
</span>

<a th:href="@{|${adminPath}editSellers|(page=${sellerDTOList.totalPages})}">В конец</a>


</body>
</html>
