<html>
<head>
    <title>Редактировать продавца</title>
    <form th:action="@{|${adminPath}accountAdministrator|}" method="post">
        <input type="submit" value="Вернуться в личный кабинет">
    </form>
    <a th:href="@{|${adminPath}editSellers|}">Назад</a>
</head>
<body>

<form th:object="${sellerDTO}" th:action="@{|${adminPath}updateSeller|}" method="post">
    Номер продавца:
    <input type="text" name="sellerId" th:field="*{id}">
    <br>
    Название продавца:
    <input type="text" name="sellerName" th:field="*{sellerName}">
    <br>
    Адрес продавца:
    <input type="text" name="sellerAddress" th:field="*{sellerAddress}">
    <br>
    <br>
    <input type="submit" value="Подтвердить">
</form>
</body>
</html>
