<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{/client/accountClient}">Вернуться в личный кабинет</a>
    <h1>Корзина</h1>
    <a th:href="@{/client/catalog}">Назад</a>
    <title>Корзина</title>
    <br>
    <br>
</head>
<body>
<form id="orderForm" method="post" th:action="@{/client/confirmOrder}">
    <input type="submit" value="Оформить заказ">
    Выбрать пункт выдачи:
    <select name="orderPointId" form="orderForm">
        <option th:each="orderPointDTO:${orderPointDTOList}"
                th:value="${orderPointDTO.getId()}"
                th:text="${orderPointDTO.getOrderPointAddress()}">
        </option>
    </select>
</form>
<form method="post" th:action="@{/client/clearBag}">
    <input type="submit" value="Очистить корзину">
</form>
<table>
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Продавец</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bagDTO:${bagDTOResponseList}">
        <td>
            <input type="hidden" name="productId" form="orderForm" th:value="${bagDTO.getProductDTO().getId()}">
            <span th:text="${bagDTO.getProductDTO.getProductName()}"></span>
        </td>
        <td>
            <span th:text="${bagDTO.getProductDTO.getProductCategory().getCategory()}"></span>
        </td>
        <td>
            <span th:text="${bagDTO.getProductDTO.getPrice()}"></span>
            <input type="hidden" name="productPrice" form="orderForm" th:value="${bagDTO.getProductDTO.getPrice()}"></input>
        </td>
        <td>
            <span th:text="${bagDTO.getProductDTO.getSeller().getSellerName()}"></span>
            <input type="hidden" name="count" form="orderForm" th:value="${bagDTO.getCount()}"></input>
        </td>
        <td>
            <form method="post">
                <input type="submit" formmethod="post" th:formaction="@{/addProductToBag1}" value="+">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:name="productId" th:value="${bagDTO.getProductDTO().getId()}">
                <span th:text="${bagDTO.getCount()}"></span>
                <input type="submit" formmethod="post" th:formaction="@{/deleteProductFromBag1}" value="-">
            </form>
        </td>
    </tr>
    </tbody>
</table>
Сумма в корзине:
<span th:text="${bagSum}">
<div>
</div>
<div>
</div>
</body>
</html>
