<style>

    table {
        width: 50%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    {
        display: grid
    ;
        grid-template-columns: 120px 300px
    ;
        gap: 15px
    ;
        align-items: center
    ;
    }
</style>
<html>
<head>
    <a th:href="@{/client/accountClient}">Вернуться в личный кабинет</a>
    <h1>Корзина</h1>
    <a th:href="@{/client/catalog}">Назад</a>
    <title>Корзина</title>
    <br>
    <br>
</head>
<body>
<form id="orderForm" method="post" th:action="@{/client/confirmOrder}">
    <div>
        Выбрать пункт выдачи:
        <select name="orderPointId" form="orderForm">
            <option th:each="orderPointDTO:${bagInfoDTO.orderPointDTOList}"
                    th:value="${orderPointDTO.id}"
                    th:text="${orderPointDTO.orderPointAddress}">
            </option>
        </select>
    </div>
    <br>
    <input type="submit" value="Оформить заказ">
</form>
<form method="post" th:action="@{/client/clearBag}">
    <input type="submit" value="Очистить корзину">
</form>
<th:block th:if="${successMessage}">
    <span style="color: #069e29" th:text="${successMessage}"></span>
    <br>
    <br>
</th:block>
Сумма в корзине:
<span th:text="${#numbers.formatDecimal(bagInfoDTO.bagSum.fullPrice, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
<br>
Ваша скидка:
<span th:text="${#numbers.formatDecimal(bagInfoDTO.bagSum.discountValue, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>%
<br>
Сумма скидки:
<span th:text="${#numbers.formatDecimal(bagInfoDTO.bagSum.calculatedDiscount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
<br>
Сумма в корзине с учётом скидки:
<span th:text="${#numbers.formatDecimal(bagInfoDTO.bagSum.priceWithDiscount, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
<br>
<table>
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Категория</th>
        <th>Цена</th>
        <th>Продавец</th>
        <th>Редактировать</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bagDTO:${bagInfoDTO.bagDTOResponseList}">
        <td>
            <input type="hidden" name="productId" form="orderForm" th:value="${bagDTO.productDTO.id}">
            <span th:text="${bagDTO.productDTO.productName}"></span>
        </td>
        <td>
            <span th:text="${bagDTO.getProductDTO.productCategory.category}"></span>
        </td>
        <td>
            <span th:text="${bagDTO.productDTO.price}"></span>
            <input type="hidden" name="productPrice" form="orderForm"
                   th:value="${bagDTO.productDTO.price}"/>
        </td>
        <td>
            <span th:text="${bagDTO.productDTO.seller.sellerName}"></span>
            <input type="hidden" name="count" form="orderForm" th:value="${bagDTO.count}"/>
        </td>
        <td>
            <form method="post">
                <input type="submit" formmethod="post" th:formaction="@{/client/addProductToBag}" value="+">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" th:name="productId" th:value="${bagDTO.productDTO.id}">
                <span th:text="${bagDTO.count}"></span>
                <input type="submit" formmethod="post" th:formaction="@{/client/deleteProductFromBag}" value="-">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
</div>
<div>
</div>
</body>
</html>
