<html>
<body>
<form th:action="@{/account/accountClient}" method="post">
    <input type="submit" value="Вернуться в личный кабинет">
</form>
<h1>Профиль пользователя</h1>
<form th:method="post" th:action="@{/client/updateUser}" th:object="${userDTO}" method="post">
    <p>
        Имя:
        <input type="text" th:field="*{name}" required/>
    </p>
    <p>
        Логин:
        <input type="text" th:field="*{login}" required/>
    </p>
    <p>
        Старый пароль:
        <input type="password" th:field="*{oldPassword}" required/>
    </p>
    <p>
        Новый пароль:
        <input type="password" th:field="*{newPassword}" required/>
    </p>
    <p>
        Повторите новый пароль:
        <input type="password" th:field="*{newPasswordRepeat}" required/>
    </p>
    <p>
        День Рождения:
        <input type="text" th:field="*{birthday}" required/>
    </p>
    <p>
        Способ Оплаты:
        <input type="text" th:field="*{paymentMethods}" required/></p>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>
